@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap);

:root {
  --color-dark: #29335C;
  --color-green: #00FF88;
  --color-red: #E4572E;
  --color-blue: #669BBC;
  --color-cream: #F5E9E2;
  --color-yellow: #f3f17a;
  --color-grey: #404E4D;
  --color-black: #1C1C23;
}

* {
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}

.pages-container {
    box-sizing: border-box;
    display: flex;
    /* padding: 20px; */
    /* height: 100vh; */
    background-color: transparent;
}

h3 {
    color: var(--color-red);
    font-size: larger;
}

/* BOX 1 */

.pages-box1, .pages-box1 h3 {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
    margin: 10px;
    margin: 20px;
    /* border: 2px solid #29335C; */
    background-color: transparent;
    color: var(--color-green);
}

.pages-box1 h3 {
    margin-left: 10px;
}

.box1-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box1-child h4 {
    color: var(--color-yellow);
}

.box1-child {
    flex: 1 0 calc(33.333% - 20px); /* Set the flex basis to 33.333% with some margin */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 10px;
}

@media (max-width: 767px) {
    .box1-child {
        flex-basis: calc(50% - 20px); /* Two items per row on screens 767px and smaller */
    }
}

@media (max-width: 600px) {
    .box1-child {
        flex-basis: calc(100% - 20px); /* One item per row on screens 600px and smaller */
    }
}

.box1-child img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 1px solid var(--color-blue);
}

.glow {
    transition: box-shadow 0.3s ease-in-out;
}

.glow:hover {
    box-shadow: 0 0 5px var(--color-grey), 0 0 10px var(--color-grey), 0 0 15px var(--color-cream);
}

/* BOX 2 */

.pages-box2 {
    display: flex;
    flex-direction: column;
    width: 25%;
    /* margin: 10px 10px 10px 20px; */
    font-weight: bold;
}

.pages-box2 h3 {
    padding: 25px 20px;
    display: flex;
    flex-direction: row;
    color: var(--color-yellow);
    /* font-size: larger; */
}

.pages-box2 ul  {
    /* padding: 20px; */
    margin: 10px;
    border-left: 5px solid var(--color-yellow);
    height: 100%;
}

.pages-box2 ul li {
    padding: 5px; 
   /* margin-bottom: 10px; */
}

.pages-box2 ul li:hover {
    background-color: var(--color-blue);
    color: var(--color-yellow);
} 

