@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap);

:root {
  --color-dark: #29335C;
  --color-green: #00FF88;
  --color-red: #E4572E;
  --color-blue: #669BBC;
  --color-cream: #F5E9E2;
  --color-yellow: #f3f17a;
  --color-grey: #404E4D;
  --color-black: #1C1C23;
}

* {
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}

.pages-container {
    box-sizing: border-box;
    display: flex;
    /* padding: 20px; */
    /* height: 100vh; */
    background-color: transparent;
    text-align: left;
}

h3 {
    color: var(--color-red);
    font-size: larger;
}

/* BOX 1 */

.pages-box1, .pages-box1 h3 {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    margin: 20px;
    /* border: 2px solid #29335C; */
    background-color: transparent;
    color: var(--color-green);
}

.pages-box1 h3 {
    margin-left: 10px;
}

.box1-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box1-child h4 {
    color: var(--color-yellow);
}

.box1-child {
    /* flex: 1 0 clamp(300px, 33.333%, calc(100% - 20px));  */
    flex: 1 0 clamp(calc(100% - 20px)); 
    box-sizing: border-box;
    padding: 10px; 
}

.hide-info {
    display: none; /* Initially hide the content */
}

.small-info {
    text-align: center;
    border-radius: 100%;
    transition: box-shadow 0.3s ease-in-out;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.small-info-skills {
    margin-left: 10px;
}
.small-info:hover {
    background-color: var(--color-yellow);
    color: var(--color-blue);
    box-shadow: 0 0 5px var(--color-cream), 0 0 7px var(--color-cream), 0 0 10px var(--color-cream);
}

@media (max-width: 1650px) {
    /* Show pages-box2 on screens wider than 768px */
    .pages-box2 {
      display: block;
    }
  
    .small-info {
      display: none; /* Hide small-info on screens wider than 768px */
    }
    .box1-parent {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .hide-info {
        display: block;
    }
    .box1-parent {
        justify-content: center;
    }
}

.box1-child img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 1px solid var(--color-blue);
}

.glow {
    transition: box-shadow 0.3s ease-in-out;
}

.glow:hover {
    box-shadow: 0 0 5px var(--color-grey), 0 0 10px var(--color-grey), 0 0 15px var(--color-cream);
}

.h4-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 2em;
}

.h4-row div {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

a .git-button {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    transition: box-shadow 0.2s ease-in-out;
}

a .git-button:hover {
    box-shadow: 0 0 5px var(--color-grey), 0 0 7px var(--color-yellow), 0 0 10px var(--color-yellow);
}

/* BOX 2 */

.pages-box2 {
    display: flex;
    flex-direction: column;
    width: 25%;
    /* margin: 10px 10px 10px 20px; */
    font-weight: bold;
    display: inline-block; 
    text-align: left;
}


@media screen and (max-width: 768px) {
    .pages-box2 {
        display: none; /* Hide the button for small screens */
    }
}

.pages-box2 h3 {
    padding: 25px 20px;
    display: flex;
    flex-direction: row;
    color: var(--color-yellow);
    /* font-size: larger; */
}

.pages-box2 ul  {
    /* padding: 20px; */
    margin: 10px;
    border-left: 5px solid var(--color-yellow);
    height: 95%;
    
}

.pages-box2 p {
    padding: 0px 10px;
}

.pages-box2 ul li {
    padding: 20px 10px; 
    margin: 10px;
    display: flex;
    align-items: center;
   /* margin-bottom: 10px; */
}

.pages-box2 ul li:hover {
    background-color: var(--color-blue);
    color: var(--color-yellow);
} 

