@import url(https://fonts.googleapis.com/css2?family=Sono&display=swap);

:root {
    --color-dark: #29335C;
    --color-green: #00FF88;
    --color-red: #E4572E;
    --color-blue: #669BBC;
    --color-cream: #F5E9E2;
    --color-yellow: #f3f17a;
}

/* MODAL */

.openModal-button {
    background-color: transparent;
    /* text-decoration: none; */
    border: none;
    width: 100%;
    padding: 10px;
}

.openModal-button :hover {
    color: var(--color-yellow);
    background-color: var(--color-blue);
}

li:hover {
    color: var(--color-yellow);
    background-color: var(--color-blue);
}

/* OPEN MODAL */

.open-modal {
    height: 150%;
    /* height: 100vh; */
    background-color: #454947;
    white-space: pre-line;
    line-height: 18px;
}

/* INSIDE PROJECTS MODAL */

.modal-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.modal-parent ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 12px;
    padding: 20px;
}

.modal-child div {
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: left;
    color: var(--color-cream);
    font-family: Sono;
    font-size: 12px;
    letter-spacing: normal;
}

@media (max-width: 767px) {
    .modal-parent ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.make-bold {
    font-weight: bolder;
    color: black;
    border-bottom: 2px solid var(--color-green); 
    padding: none;
}

.project-modal-h4 {
    color: var(--color-green);
    padding-top: 20px;
    text-align: center;
}

/* INSIDE SKILLS MODAL */
@media (max-width: 600px) {
    .open-modal {
        height: auto;
    }
} 

.modal-h3 {
    color: var(--color-green);
    font-weight: bolder;
    margin: 10px;
}

.modal-h4 {
    color: var(--color-yellow);
    margin: 10px;
    padding-top: 20px;
}

.modal-h5 {
    color: var(--color-blue);
    font-family: Sono;
    letter-spacing: normal;
    margin: 10px;
}

.modal-find {
    color: var(--color-yellow);
    font-size: small;
    font-family: Sono;
    letter-spacing: normal;
    margin: 10px;
}

.skills-container {
    box-sizing: border-box;
    display: flex;
    /* padding: 20px; */
    /* height: 100vh;  */
    background-color: transparent;
}

/* SKILLS BOX 1 */

.skills-box1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    /* height: 100vh; */
    margin: 20px;
    /* border: 2px solid #29335C; */
    background-color: transparent;
}

.skills-h3 {
    color: var(--color-green);
    margin: 20px;
    margin-left: 10px;
}

.skills-date {
    padding-top: 20px;
    color: var(--color-yellow);
}

.skills-job {
    color: var(--color-yellow);
    padding-bottom: 5px;
}

.skills-hard, .skills-soft {
    color: var(--color-green);
}

.skills-info {
    color: var(--color-blue);
    font-family: Sono;
    font-size: small;
    line-height: 20px;
    letter-spacing: normal;
}

.skills-date, .skills-job, .skills-info, .skills-hard, .skills-soft {
    margin-left: 10px;
}

/* SKILLS BOX 2 */

.skills-box2 {
    display: flex;
    flex-direction: column;
    width: 25%;
    /* margin: 10px 10px 10px 20px; */
    font-weight: bold;
}

.skills-box2 h3 {
    padding: 25px 20px;
    display: flex;
    flex-direction: row;
    color: var(--color-yellow);
    /* font-size: larger; */
}

.skills-box2 ul  {
    /* padding: 20px; */
    margin: 10px;
    border-left: 5px solid var(--color-yellow);
    height: 100%;
}

.skills-box2 ul li {
    padding: 5px; 
   /* margin-bottom: 10px; */
}

.pages-box2 ul li:hover {
    background-color: var(--color-blue);
    color: var(--color-yellow);
} 