@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Anton&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kalnia&display=swap);

:root {
  --color-dark: #29335C;
  --color-green: #00FF88;
  --color-red: #E4572E;
  --color-blue: #669BBC;
  --color-cream: #F5E9E2;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  text-decoration: none;
  color: var(--color-dark);
  font-family: Chakra Petch;
  letter-spacing: 3px;
  /* background-color: #00FF88; */
  background-color: var(--color-cream);
}

.App, .App-l {
  text-align: center;
  height: 100vh;
}

.body-container-l {
  width: 70%;
  margin: 10px;
  margin: 20px;
  /* border: 2px solid #29335C; */
  background-color: transparent;
  color: var(--color-blue);
}

/* NAVBAR */

.NavContainer {
  padding: 10px;
  /* border-bottom: 2px solid #29335C; */
}


.NavWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  border-bottom: 5px solid var(--color-red);
}

.NavHeading {
  padding: 20px;
}


.NavList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.link {
  display: flex;
  justify-content: space-around;
  width: 100px;
  padding: 20px;
}

.link:hover {
  background-color: var(--color-blue);
}

/* FOOTER */

.FootContainer {
  padding: 10px;
  /* border-top: 2px solid #29335C; */
}

 .FootWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px; */
  width: 75%;
  border-top: 5px solid var(--color-green);
}

/*
.FootContainer .NavHeading, .FootContainer h3 {
  background-color: #29335C;
  color: #E4572E;
} */